@media(max-width: 768px) {



	#CA{
font-size: 10px;




	}
}

@media(max-width: 375px) {



	#CA{
font-size: 7px;




	}
}padding-left: 10rem;

@media(max-width: 1199px) {



	#CA{
padding-left: 10rem;



	}
}